.env
*.parquet
data/
.venv

#airlfow

airflow/logs/
airflow/config/
airflow/plugins/__pycache__/
airflow/dags/__pycache__/


# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json